<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>purchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1440
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <servlet>
        <servlet-name>uploadfile</servlet-name>
        <jsp-file>/FileUpload.jsp</jsp-file>
        <multipart-config>
            <location>/temp</location>
            <max-file-size>10485760</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>classes.Item</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadfile</servlet-name>
        <url-pattern>/FileUpload.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edituploadfile</servlet-name>
        <jsp-file>/editFileUpload.jsp</jsp-file>
        <multipart-config>
            <location>/temp</location>
            <max-file-size>10485760</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>edituploadfile</servlet-name>
        <url-pattern>/editFileUpload.jsp</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
     C:\Users\User\Documents\NetBeansProjects\bookstore\web
   </param-value>
    </context-param>
</web-app>
